@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy: #19124fff;
  --transparent: #00000000;
  --white: #ffffffff;
  --light-gray: #f2f2f6ff;
  --slate-gray: #757195ff;
  --light-blue: #d6dadfff;
  --sky-blue: #9fd8ebff;
  --salmon: #ea91a6ff;
  --tan: #dabaa1ff;
  --dark-green: #041d41ff;
  --coral: #ff8998ff;
  --tan: #c69f7bff;
  --pink: #ff596fff;
  --hover-pink: #f13d57;
  --purple: #6551ccff;
  --light-gray-alpha: #e9e9f099;
  --lavender: #a397e1ff;
  --dark-blue: #07002fff;
  --dark-purple: #40354eff;
  --gray: #9695a8ff;
}

*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
  /* font-family: "Inter", sans-serif; */
}

@layer components {
  .btn-link {
    @apply cursor-pointer rounded-full py-2 px-4 text-sm font-semibold text-navy transition duration-150 hover:bg-light-gray-alpha;
  }

  .btn-icon {
    @apply h-10 w-10 cursor-pointer rounded-full border-[3px] border-transparent text-sm font-semibold text-navy transition duration-150  hover:bg-light-gray-alpha focus:border-lavender;
  }

  .btn-primary {
    @apply w-full rounded-full border-[3px] border-transparent bg-pink px-4 py-2 text-base font-medium text-white transition duration-150 hover:bg-hover-pink focus:border-lavender;
  }

  .btn-primary-white {
    @apply w-full rounded-full border-[3px] border-transparent bg-white px-4 py-2 text-base font-medium text-black transition duration-150 focus:border-lavender;
  }
}

/* .border-gradient {
  border: linear-gradient(
    90deg,
    var(--navy),
    var(--tan),
    var(--pink),
    var(--puple),
    var(--dark-purple),
    var(--sky-blue),
    var(--salmon)
  );
} */

button[title]:hover::after,
div[title]:hover::after,
span[title]:hover::after {
  content: attr(title);
  position: absolute;
  bottom: -80%;
  right: 50%;
  width: max-content;
  padding: 2px 14px;
  font-size: 12px;
  transform: translateX(50%);
  background: var(--navy);
  color: white;
  border-radius: 999px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.category_child {
  visibility: hidden;
}
.category_parent:hover > .category_child {
  visibility: visible;
}

.category_child-pointer {
  position: absolute;
  top: -8px;
  content: "";
  width: 15px;
  height: 15px;
  rotate: 45deg;
  background: #fff;
}

.category_child {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
    0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.1);
}

.sub_category_card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.sub_category_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 10px -5px rgb(0 0 0 / 22%),
    6px 6px 30px 5px rgb(0 0 0 / 12%);
}

.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: var(--lavender);
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: var(--purple);
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: var(--purple);
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.customization-input:checked + .customization-label {
  border-color: var(--lavender);
}
